:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: white;
}

$red: #CC1718;
$primary: #191C24;

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.sidebar {
  background-color: $primary;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 0px;

  .title {
    color: $red;
    margin-top: 20px;
    margin-left: 30px;
  }

  .link-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
  }

  div {

    margin-top: 15px;

    ul {

      list-style-type: none;
      
      li {

        margin-top: 2px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 10px 15px 10px 30px;
        transition: 0.2s all;

        &:hover {
          background-color: #000000;
        } 

        .icon {
          color: $red;
          font-size: 25px;
        }

      }
    }
  }

}

.home {
  width: 100%;
  height: 100%;
}

.homebox {
  height: 100%;
  overflow: auto;

  .box {
    padding: 30px 30px 0 30px;
  }

  .tablebox {
    background-color: $primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 40px 30px;

    table {
      margin-top: 30px;
      width: 100%;
      border: 2px solid #000000;
      border-collapse: collapse;

      .checkcase {
        width: 20px;
      }

    }

    th, td {
      padding: 10px 15px;
      border: 2px solid #000000;
      text-align: left;
    }

    /* Cacher l'input checkbox */
    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px; 
      border: 2px solid #000000; 
      border-radius: 3px; 
      background-color: $primary;
      position: relative;
      cursor: pointer;
    }

    input[type="checkbox"]:checked {
      background-color: $red;
      border-color: $red;
    }

    input[type="checkbox"]:checked::before {
      content: '\2713';
      font-size: 12px; 
      color: #fff; 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  }

}

.navbar {
  height: 55px;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  input {
    padding: 8px 10px;
    width: 250px;
    background-color: #000000;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;

    &:focus {
      outline: none;
    }

  }

  button {
    font-size: 16px;
    width: 38px;
    height: 38px;
    background-color: #000000;
    color: $red;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
      background-color: #1c1919;
    }

  }

}

.delete {
  font-size: 16px;
  width: 38px;
  height: 38px;
  background-color: #000000;
  color: $red;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    background-color: #1c1919;
  }

}


// LOADING
.loading-box {
  @include flexcenter;
  margin-top: 30px;
}

.miniloader-box {
  @include flexcenter;
  height: 150px;
  width: 40%;
}

.progress {
  height: 4px;
  width: 99%;
  --c:no-repeat linear-gradient(#CC1718 0 0);
  background: var(--c),var(--c), #000000;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

// ERROR
.error-box {
  @include flexcenter;
  flex-direction: column;
  gap: 20px;

  .icon {
    color: $red;
    font-size: 80px;
  }

}

.notfound-box {
  @include flexcenter;
  flex-direction: column;
  gap: 20px;

  .icon {
    color: $red;
    font-size: 80px;
  }
}